@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10; }
  #header .inner {
    width: 1180px;
    position: relative;
    margin: 0 auto;
    padding: 35px 0; }
    #header .inner .logo {
      position: absolute;
      left: 0;
      top: 20px; }
      #header .inner .logo a {
        font: 500 30px/1 "Saira Semi Condensed";
        color: #fff;
        opacity: 0.9;
        letter-spacing: 1px; }
    #header .inner .menuWeb {
      display: flex;
      justify-content: space-between;
      margin-left: 295px; }
      #header .inner .menuWeb #gnb {
        width: 590px;
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
        #header .inner .menuWeb #gnb > li {
          display: inline-block;
          margin-top: 3px; }
          #header .inner .menuWeb #gnb > li > a {
            font: 400 18px/1 "Saira Semi Condensed";
            color: #fff;
            opacity: 0.9; }
      #header .inner .menuWeb #util::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .menuWeb #util > li {
        float: left;
        margin-left: 10px; }
        #header .inner .menuWeb #util > li a i {
          color: #fff;
          opacity: 0.9; }
        #header .inner .menuWeb #util > li:first-child a i {
          font-size: 26px; }
        #header .inner .menuWeb #util > li:last-child a i {
          font-size: 25px; }
    #header .inner .btnCall {
      display: none; }

#visual {
  width: 100%;
  height: 100vh; }
  #visual .slide {
    width: 100%;
    height: 100%;
    position: relative; }
    #visual .slide img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; }
    #visual .slide .inner {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      #visual .slide .inner .txtBox {
        position: absolute;
        left: 0;
        bottom: 200px; }
        #visual .slide .inner .txtBox h1 {
          font: 400 16px/1 'Roboto';
          color: #fff;
          opacity: 0.9; }
        #visual .slide .inner .txtBox h2 {
          font: 500 8vw/1.1 'Roboto';
          color: #fff;
          margin-left: -7px; }
      #visual .slide .inner .txtSub {
        position: absolute;
        bottom: 100px;
        left: 0;
        display: flex;
        justify-content: space-between; }
        #visual .slide .inner .txtSub li {
          width: 295px; }
          #visual .slide .inner .txtSub li h3 {
            font: 400 16px/1 'Roboto';
            color: #fff;
            opacity: 0.7; }
          #visual .slide .inner .txtSub li span {
            font: 400 16px/1 'Roboto';
            color: #fff;
            opacity: 0.95; }
      #visual .slide .inner .pagination {
        position: absolute;
        right: 0;
        bottom: 100px;
        display: flex;
        width: 295px;
        justify-content: space-between;
        align-items: center; }
        #visual .slide .inner .pagination span {
          font: 400 16px/1 'Roboto';
          color: #fff;
          opacity: 0.9; }
        #visual .slide .inner .pagination .progress {
          width: 200px;
          height: 2px;
          background-color: #fff;
          opacity: 0.7;
          position: relative; }

#about {
  width: 100%;
  padding: 150px 0 180px; }
  #about .inner {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #about .inner h1 {
      width: 295px;
      font: 400 24px/1 "Saira Semi Condensed";
      color: #171717; }
    #about .inner .contents {
      width: calc(100% - 295px); }
      #about .inner .contents h2 {
        font: 500 40px/1.1 "Roboto";
        color: #171717; }
      #about .inner .contents > p {
        width: calc(100% - 295px);
        margin: 50px 0;
        word-break: keep-all;
        font: 400 15px/1.6 "Roboto";
        color: #171717; }
      #about .inner .contents .number {
        display: flex; }
        #about .inner .contents .number article {
          width: calc(100% / 3); }
          #about .inner .contents .number article h3 {
            font: 400 15px/1 "Roboto";
            color: #171717;
            margin-bottom: 15px; }
          #about .inner .contents .number article p {
            font: 500 40px/1 "Roboto";
            color: #171717; }

/*# sourceMappingURL=style.css.map */
