.community .inner .contents {
    padding: 150px 0;

    h3 {
        font: 500 24px/1 "Saira Semi Condensed";
        color: #171717;
        text-align: center;
        margin-bottom: 10px;
    }

    >p {
        font: 400 16px/1.6 "Roboto";
        color: #727272;
        text-align: center;
        margin-bottom: 40px;
    }

    >ul {
        margin-bottom: 50px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            width: 380px;
            float: left;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            >a {
                display: block;
                height: 270px;
                position: relative;
                padding: 20px;
                overflow: hidden;
                border: 1px solid rgba(0,0,0,0.2);
                
                span {
                    font: bold 100px/1 "Roboto";
                    -webkit-text-stroke: 1px rgba(0,0,0,0.3);
                    color: #fff;
                    letter-spacing: 1px;
                    position: absolute;
                    top: 20px;
                    left: 75%;
                }

                h4 {
                    font: 600 20px/1 "Roboto";
                    color: #171717;
                    margin-top: 120px;
                    margin-bottom: 30px;
                }

                p {
                    width: 80%;
                    font: 400 14px/1.4 "Roboto";
                    color: #727272;
                }
            }

            &:hover, &.on {
                >a {
                    background-color: #171717;
                    transition: 0.5s;

                    h4 {
                        color: #fff;
                    }

                    span {
                        animation: moving 10s ease-in infinite;
                    }
                }
            }
        }
    }

    article {
        width: 100%;

        >div {
            display: none;
            
            &.on {
                width: 100%;
                display: block;

                h4 {
                    display: inline-block;
                    font: 400 28px/1 "Roboto";
                    color: #171717;
                    margin-top: 5px;
                    margin-bottom: 15px;
                }

                .searchBox {
                    float: right;
                    display: flex;
                    justify-content: center;
                    width: fit-content;
                    margin-bottom: 15px;
                    border: 1px solid rgba(0,0,0,0.2);

                    input[type=search]{
                        padding: 3px 10px;
                        border: none;
                    }

                    button {
                        background: #f3f3f3;
                        border: none;
                        cursor: pointer;

                        i {
                            font-size: 18px;
                            padding: 4px;
                            color: #727272;
                        }
                    }
                }
            }

            &.notice {

                table {
                    width: 100%;
                    border-top: 1px solid rgba(0,0,0,0.2);
    
                    thead {
                        tr {
                            th {
                                font: 600 14px/1 "Roboto";
                                color: #171717;
                                padding: 15px 0;
                                border-bottom: 1px solid rgba(0,0,0,0.2);
                            }
                        }
                    }
    
                    tbody {
                        tr {
                            transition: 0.5s;
                            
                            td {
                                padding: 15px 0;
                                border-bottom: 1px solid rgba(0,0,0,0.2);
    
                                &:nth-of-type(1), &:nth-of-type(3) {
                                    width: 100px;
                                    text-align: center;
                                    font: 400 14px/1 "Roboto";
                                    color: #171717;
                                }
    
                                a {
                                    font: 400 14px/1.8 "Roboto";
                                    color: #171717;
                                }
                            }

                            &:hover {
                                background-color: #f3f3f3;
                            }
                        }
                    }
                }
    
                .pagination {
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
    
                    >a {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 10px;
                        font-size: 0;
    
                        i {
                            font-size: 16px;
                            color: #171717;
                        }
                    }
    
                    .numbers {
                        display: inline-block;
                        font-size: 0;
                        vertical-align: middle;
    
                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                        
                        li {
                            float: left;
    
                            >a {
                                display: block;
                                font: 300 14px/1.6 "Roboto";
                                padding: 5px 10px;
                                transition: 0.5s;
                                color: #171717;
                            }
    
                            &:hover {
                                a {
                                    position: relative;
    
                                    &::after {
                                        position: absolute;
                                        bottom: 0px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        content: '';
                                        display: block;
                                        width: 50%;
                                        height: 1px;
                                        background-color: rgba(0,0,0,0.3);
                                    }
    
                                    &::before {
                                        position: absolute;
                                        top: 0px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        content: '';
                                        display: block;
                                        width: 50%;
                                        height: 1px;
                                        background-color: rgba(0,0,0,0.3);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.faq {

                dl {
                    width: 100%;
                    border-bottom: 1px solid rgba(0,0,0,0.2);

                    dt {
                        padding: 20px 0;
                        border-top: 1px solid rgba(0,0,0,0.2);
                        transition: .5s;
                        cursor: pointer;
                        
                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }

                        span {
                            float: left;
                            width: 30px;
                            font: bold 18px/1 "Roboto";
                            color: #171717;
                        }
                        
                        h5 {
                            float: left;
                            width: calc(100% - 30px);
                            font: 500 18px/1 "Roboto";
                            color: #171717;
                            position: relative;

                            i {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                                color: #727272;
                            }
                        }

                        &.on {
                            h5 {
                                i {
                                    display: none;
                                }

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 15px;
                                    height: 1px;
                                    background-color: #727272;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }

                    dd {
                        padding: 20px 0 40px;
                        transition: .5s;
                        display: none;

                        &.on {
                            display: block;
                            border-top: 1px solid rgba(0,0,0,0.1);
                        }

                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }

                        span {
                            float: left;
                            width: 30px;
                            font: bolder 18px/1 "Roboto";
                            color: #171717;
                        }

                        p {
                            float: left;
                            width: 70%;
                            font: 300 16px/1.4 "Roboto";
                            color: #171717;
                        }
                    }
                }
            }

            &.events {

                ul {
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    li {
                        border-top: 1px solid rgba(0,0,0,0.2);

                        a {
                            display: flex;
                            justify-content: space-between;
                            padding: 20px 0;

                            span {
                                width: 30px;
                                font: 400 20px/1 "Roboto";
                                color: #171717;
                            }
                            
                            >div {
                                width: calc((100% / 2) - 30px);
                                padding-left: 20px;

                                &.pic {
                                    height: 250px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                &.txtBox {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    h5 {
                                        font: 300 55px/1.1 "Roboto";
                                        color: #171717;

                                        span {
                                            display: block;
                                            width: 100%;
                                            font: 300 16px/1 "Roboto";
                                            color: #171717;
                                            margin-top: 10px;
                                        }
                                    }
                                    
                                    p {
                                        width: 70%;
                                        font: 300 14px/1.6 "Roboto";
                                        color: #727272;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes moving {
    0% {transform: translateX(0);}
    50% {transform: translateX(-200%);}
    100% {transform: translateX(0);}
}


// tablet
@media screen and (max-width: 1200px) {
    .community .inner .contents {
        >ul {
            margin-bottom: 20px;
    
            li {
                width: calc(100% /3);
                margin-right: 0;

                &:nth-of-type(2) {
                    >a {
                        border-left: none;
                        border-right: none;
                    }
                }
    
                >a {
                    height: auto;
                    
                    span {
                        display: none;
                    }
    
                    h4 {
                        margin-top: 0;
                        margin-bottom: 0;
                        text-align: center;
                    }
    
                    p {
                        display: none;
                    }
                }
            }
        }
    
        article {
            >div {
                &.faq {
                    dl {
                        dt {
                            h5 {
                                padding-right: 30px;
                                line-height: 1.2;
                            }
                        }
    
                        dd {
                            p {
                                width: 80%;
                            }
                        }
                    }
                }
    
                &.events {
                    ul {
                        li {
                            a {
                                
                                >div {
                                    &.pic {
                                        height: 300px;
                                    }

                                    &.txtBox {
                                        h5 {
                                            font: 300 40px/1.1 "Roboto";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .community .inner .contents {
        h3 {
            font: 500 22px/1 "Saira Semi Condensed";
        }
    
        >p {
            font: 400 14px/1.6 "Roboto";
        }
    
        >ul {
            margin-bottom: 0px;
    
            li {
                >a {
                    padding: 10px;

                    h4 {
                        font: 400 16px/1 "Roboto";
                    }
                }
            }
        }
    
        article {
            >div {
                &.notice {
                    margin-top: 20px;
                    
                    table {
                        thead {
                            tr {
                                th {
                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
        
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        display: none;
                                        
                                    }
        
                                    &:nth-of-type(1), &:nth-of-type(3) {
                                        width: auto;
                                        min-width: 67px;
                                    }
                                }
                            }
                        }
                    }
        
                    .pagination {
                        .numbers {
                            li {
                                &:nth-of-type(n+6):nth-of-type(-n+10) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
    
                &.faq {
                    margin-top: 20px;

                    dl {
                        dt {
                            span {
                                font: bolder 16px/1.2 "Roboto";
                            }
                            
                            h5 {
                                font: 500 16px/1.2 "Roboto";
                            }
                        }
    
                        dd {
    
                            span {
                                font: bolder 16px/1.2 "Roboto";
                            }
    
                            p {
                                font: 300 14px/1.4 "Roboto";
                            }
                        }
                    }
                }
    
                &.events {
                    margin-top: 20px;

                    ul {
                        li {
                            &:nth-of-type(2n) {
                                a {
                                    flex-direction: column-reverse;
                                    
                                    .pic {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            a {
                                flex-direction: column;
    
                                span {
                                    display: none;
                                }
                                
                                >div {
                                    width: 100%;
                                    padding-left: 0;
    
                                    &.txtBox {
                                        margin-top: 20px;

                                        h5 {
                                            margin-bottom: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 372px) {
    .community .inner .contents {
        article {
            >div {
                &.events {
                    ul {
                        li {
                            a {
                                >div {
                                    &.txtBox {

                                        h5 {
                                            font-size: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}