.gallery .inner .contents {
    display: flex;
    padding: 150px 0;

    .btns {
        width: 295px;
        display: flex;
        flex-direction: column;

        li {
            margin-bottom: 20px;

            &.on {
                >button::after {
                    width: 100%;
                }
            }

            button {
                border: none;
                font: 400 20px/33px "Saira Semi Condensed";
                color: #171717;
                background-color: transparent;
                cursor: pointer;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #171717;
                    transition: 0.5s;
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                    animation: btnActive 0.5s linear;
                }
            }

            &#searchBox {
                display: flex;
                width: fit-content;
                border-bottom: 1px solid #171717;

                #search {
                    width: 120px;
                    font: 400 20px/1 "Saira Semi Condensed";
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: rgba(0,0,0,0.3);
                    }
                }

                .searchBtn {
                    padding: 5px;
                    transition: .5s;
                    line-height: 1;

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: #171717;
                        color: #fff;
                    }
                }
            }
        }
    }

    #wrap {
        width: calc(100% - 295px);
        position: relative;

        .loading {
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.07);
            display: flex;
            justify-content: center;
            align-items: center;
            font: 400 14px/1 'Saira Semi Condensed';
            z-index: -1;

            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                border-top: 1px solid rgba(0,0,0,0.4);
                border-right: 1px solid rgba(0,0,0,0.4);
                border-radius: 50%;
                animation: circle 2s linear infinite;
            }

            &.off {
                opacity: 0;
            }
        }

        .errTxt {
            display: none;
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translate(-50%,-50%);
            font: 300 16px/1 'Noto Sans KR';
            color: #171717;
        }

        #list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            opacity: 0;
            transform: translateY(50px);
            transition: 1s;

            &.on {
                opacity: 1;
                transform: translateY(0px);
            }

            li {
                width: calc(100%/3);
                padding: 0px 20px;

                div {
                    border-top: 1px solid rgba(0,0,0,0.8);
                    padding: 20px 0px;
                    width: 100%;

                    p {
                        width: 100%;
                        font: 300 14px/18px 'Roboto';
                        color: rgba(0,0,0,0.8);

                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }

                        i {
                            float: left;
                            font-size: 16px;
                            margin-right: 5px;
                        }
                        
                        span {
                            float: right;
                            font: 300 14px/18px 'Roboto';
                            color: rgba(0,0,0,0.8);
                        }
                    }

                    h3 {
                        padding: 10px 0px 15px;
                        font: 400 18px/1.2 'Saira Semi Condensed';
                    }

                    a {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            filter: grayscale(100%);
                            transition: .5s;
                        }

                        &:hover {
                            img {
                                filter: grayscale(0);
                            }
                        }
                    }
                }
            }
        }
    }
}

.pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    padding: 5vw;
    box-sizing: border-box;

    .con {
        width: 100%;
        height: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .close {
        display: block;
        position: absolute;   
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10;
        color: #fff;

        i {
            font-size: 30px;
            color: rgba(255,255,255,0.5);
            transition: .5s;
        }

        &:hover {
            i {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .gallery .inner .contents {
        .btns {
            width: 25%;
        }
        
        #wrap {
            width: 75%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .gallery .inner .contents {
        #wrap {
            #list {
                li {
                    width: calc(100%/2);
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .gallery .inner .contents {
        flex-direction: column;

        .btns {
            width: 100%;
            flex-direction: row;
            margin-bottom: 50px;
            padding-left: 20px;
    
            li {
                margin-bottom: 0px;
                margin-right: 15px;
    
                button {
                    font: 400 16px/33px "Saira Semi Condensed";
                }
    
                &#searchBox {
                    margin-left: auto;
                    margin-right: 20px;

                    #search {
                        font: 400 16px/1 "Saira Semi Condensed";
                    }
    
                    .searchBtn {
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        #wrap {
            width: 100%;
        }
    }
}

@media screen and (max-width: 548px) {
    .gallery .inner .contents {
        .btns {
            flex-wrap: wrap;
            padding-left: 10px;
    
            li {
                margin-right: 10px;
    
                button {
                    font: 400 16px/33px "Saira Semi Condensed";
                }
    
                &#searchBox {
                    margin-right: 10px;
                    #search {
                        font: 400 16px/1 "Saira Semi Condensed";
                    }
    
                    .searchBtn {
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        #wrap {
            width: 100%;

            #list {
                li {
                    padding: 0px 10px;
    
                    div {
                        p {
                            font: 300 12px/18px 'Roboto';
                            
                            span {
                                font: 300 12px/18px 'Roboto';
                            }
                        }
    
                        h3 {
                            padding: 10px 0px 10px;
                            font: 400 16px/1.2 'Saira Semi Condensed';
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 510px) {
    .gallery .inner .contents {
        .btns {
            padding: 0px 10px;
    
            li {
                margin-right: 10px;
    
                &#searchBox {
                    width: 100%;
                    margin-top: 20px;
                    margin-right: 0px;

                    #search {
                        width: calc(100% - 26px);
                    }
                }
            }
        }

        #wrap {
            #list {
                li {
                    width: 100%;
    
                    div {
                        p {
                            font: 300 12px/18px 'Roboto';
                            
                            span {
                                font: 300 12px/18px 'Roboto';
                            }
                        }
    
                        h3 {
                            padding: 10px 0px 10px;
                            font: 400 16px/1.2 'Saira Semi Condensed';
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 336px) {
    .gallery .inner .contents {
        .btns {
            padding: 0px 10px;
    
            li {
                margin-right: 10px;

                button {
                    font: 400 14px/33px "Saira Semi Condensed";
                }
    
                &#searchBox {
                    width: 100%;
                    margin-top: 20px;
                    margin-right: 0px;

                    #search {
                        width: calc(100% - 26px);
                    }
                }
            }
        }

        #wrap {
            #list {
                li {
                    width: 100%;
    
                    div {
                        p {
                            font: 300 12px/18px 'Roboto';
                            
                            span {
                                font: 300 12px/18px 'Roboto';
                            }
                        }
    
                        h3 {
                            padding: 10px 0px 10px;
                            font: 400 16px/1.2 'Saira Semi Condensed';
                        }
                    }
                }
            }
        }
    }
}

@keyframes btnActive {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes circle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}