@charset "utf-8";

// 폰트
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// scss import
@import "reset.scss";
@import "sub_layout.scss";
@import "department.scss";
@import "community.scss";
@import "join.scss";


// header ---------------------------------------------------------------------------
#header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;

    .inner {
        width: 1180px;
        position: relative;
        margin: 0 auto;
        padding: 35px 0;

        .logo {
            position: absolute;
            left: 0;
            top: 20px;

            a {
                font: 500 30px/1 "Saira Semi Condensed";
                color: #fff;
                opacity: 0.9;
                letter-spacing: 1px;
            }
        }

        .menuWeb {
            display: flex;
            justify-content: space-between;
            margin-left: 295px;

            #gnb {
                width: 590px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                >li {
                    display: inline-block;
                    margin-top: 3px;

                    >a {
                        font: 400 18px/1 "Saira Semi Condensed";
                        color: #fff;
                        opacity: 0.9;
                    }
                }
            }

            #util {
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                > li {
                    float: left;
                    margin-left: 10px;

                    a i {
                        color: #fff;
                        opacity: 0.9;
                    }

                    &:first-child a i {
                        font-size: 26px;
                    }

                    &:last-child a i {
                        font-size: 25px;
                    }
                }
            }
        }

        .menuMb {
            display: none;
        }

        .btnCall {
            display: none;
        }
    }
}


// visual ---------------------------------------------------------------------------
#visual {
    width: 100%;
    height: 100vh;

    .slide {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .inner {
            width: 1180px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .txtBox {
                position: absolute;
                left: 0;
                bottom: 200px;

                h1 {
                    font: 400 16px/1 'Roboto';
                    color: #fff;
                    opacity: 0.9;
                }

                h2 {
                    font: 500 8vw/1.1 'Roboto';
                    color: #fff;
                    margin-left: -7px;
                }
            }

            .txtSub {
                position: absolute;
                bottom: 100px;
                left: 0;
                display: flex;
                justify-content: space-between;

                li {
                    width: 295px;

                    h3 {
                        font: 400 16px/1 'Roboto';
                        color: #fff;
                        opacity: 0.7;
                    }

                    span {
                        font: 400 16px/1 'Roboto';
                        color: #fff;
                        opacity: 0.95;
                    }
                }
            }

            .pagination {
                position: absolute;
                right: 0;
                bottom: 100px;
                display: flex;
                width: 295px;
                justify-content: space-between;
                align-items: center;

                span {
                    font: 400 16px/1 'Roboto';
                    color: #fff;
                    opacity: 0.9;
                }

                .progress {
                    width: 200px;
                    height: 2px;
                    background-color: #fff;
                    opacity: 0.7;
                    position: relative;
                }
            }
        }
    }
}


// About ---------------------------------------------------------------------------
#about {
    width: 100%;
    padding: 150px 0 180px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h1 {
            width: 295px;
            font: 400 24px/1 "Saira Semi Condensed";
            color: #171717;
        }

        .contents {
            width: calc(100% - 295px);

            h2 {
                font: 500 40px/1.1 "Roboto";
                color: #171717;
            }

            >p {
                width: calc(100% - 295px);
                margin: 50px 0;
                word-break: keep-all;
                font: 400 15px/1.6 "Roboto";
                color: #171717;
            }

            .number {
                display: flex;

                article {
                    width: calc(100% / 3);

                    h3 {
                        font: 400 15px/1 "Roboto";
                        color: #171717;
                        margin-bottom: 15px;
                    }

                    p {
                        font: 500 40px/1 "Roboto";
                        color: #171717;
                    }
                }
            }
        }
    }
}


// PROJECTS ---------------------------------------------------------------------------
#projects {
    width: 100%;
    padding: 0px 0 250px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        

        div {
            width: 580px;
            margin-right: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            &:first-child h1{
                font: 400 24px/1 "Saira Semi Condensed";
                color: #171717;
            }

            &:nth-of-type(2) {
                article:nth-of-type(1) {
                    margin-top: 0;
                }
            }

            article {
                margin-top: 11vh;

                a {
                    p {
                        font: 400 14px/1 'Roboto';
                        color: #727272;
                    }
    
                    h2 {
                        font: 500 18px/1 "Roboto";
                        color: #171717;
                        margin: 10px 0 15px;
                    }
    
                    .pic {
                        width: calc(100% - 20px);
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                
            }
        }

        .moreBtn {
            position: absolute;
            left: calc(100% / 2);
            bottom: -50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            span {
                font: 400 14px/1 'Roboto';
                color: #171717;
                margin-right: 10px;
            }
    
            .progress {
                width: 100px;
                height: 1px;
                background-color: #171717;
                position: relative;
                margin-right: 10px;
            }
        }
    }
}


// banner ---------------------------------------------------------------------------
#banner {
    width: 100%;
    padding: 100px 0;
    background-image: url(../img/architecture_6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
            font: 500 30px/1 "Roboto";
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font: 300 16px/1.3 "Roboto";
            color: #fff;
            text-align: center;
        }
    }
}


// events ---------------------------------------------------------------------------
#events {
    width: 100%;
    padding: 200px 0 180px;
    
    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1 {
            font: 400 24px/1 "Saira Semi Condensed";
            color: #171717;
            border-bottom: 1px solid #171717;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }

        .slide {
            display: flex;
            justify-content: right;

            article {
                width: 280px;
                margin-left: 20px;

                a {
                    h2 {
                        font: 600 40px/1 "Roboto";
                        color: #171717;
                        margin-bottom: 15px;
    
                        span {
                            font: 400 24px/1 "Roboto";
                            margin-left: 10px;
                        }
                    }
    
                    p {
                        font: 400 14px/1.6 "Roboto";
                        color: #727272;
                    }
    
                    .loca {
                        margin: 50px 0;
    
                        p {
                            font: 500 15px/1.6 "Saira Semi Condensed";
                            color: #727272;
                        }
                    }
    
                    .pic {
                        width: 100%;
                        height: 150px;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                

                &.on a .pic {
                    float: right;
                    width: 200%;
                    height: calc(150px * 2);
                }
            }
        }
    }

    
}


// news ---------------------------------------------------------------------------
#news {
    width: 100%;
    padding: 50px 0 180px;

    .inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
            font: 400 24px/1 "Saira Semi Condensed";
            color: #171717;
            margin-bottom: 10px;
        }

        ul {
            border-top: 1px solid #171717;
            li {
                width: 100%;
                padding: 30px 0;
                border-bottom: 1px solid #171717;

                &.on {
                    >a::after {
                        content: '';
                        display: none;
                    }
                }

                >a {
                    display: block;
                    padding-left: 30px;
                    font: 400 18px/1 "Roboto";
                    color: #171717;
                    position: relative;

                    span {
                        float: right;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 1px;
                        background-color: #727272;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 10px;
                        background-color: #727272;
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

                .subNews {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    .pic {
                        width: calc(100% / 2);
                        height: 300px;
                        margin-right: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    .subTxt {
                        width: calc(100% / 2);
                        height: 100%;

                        h2 {
                            margin-bottom: 20px;
                        }

                        p {
                            font: 400 14px/1.6 "Roboto";
                            color: #171717;
                        }
                    }

                    .moreBtn {
                        position: absolute;
                        left: calc((100% / 2) + 20px);
                        bottom: 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
        
                        span {
                            font: 400 14px/1 'Roboto';
                            color: #727272;
                            margin-right: 10px;
                        }
        
                        .progress {
                            width: 100px;
                            height: 1px;
                            background-color: #727272;
                            position: relative;
                            margin-right: 10px;
                        }
                    }
                    
                }
            }
        }
    }
}


// footer ---------------------------------------------------------------------------
#footer {
    width: 100%;
    padding: 100px 0 0px;
    background-color: #171717;

    .inner {
        width: 1180px;
        margin: 0 auto;

        .ftTop {
            display: flex;
            margin-bottom: 80px;

            h1 {
                width: calc(100% / 2);
                font: 400 40px/1.3 "Roboto";
                color: #fff;
            }

            .signUp {
                width: calc(100% / 2);

                input[type=email] {
                    width: 200px;
                    padding: 10px 0 15px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                    color: #fff;
                }

                button {
                    font: 300 14px/1 'Roboto';
                    color: #fff;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                }

                p {
                    margin-top: 10px;
                    font: 300 12px/1.3 'Roboto';
                    color: #aaa;
                }
            }
        }

        .ftMid {
            display: flex;
            margin-bottom: 80px;

            article {
                width: calc(100% / 4);
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;

                p {
                    font: 300 14px/1 "Roboto";
                    color: #fff;
                }

                a>h3 {
                    font: 300 16px/1 'Roboto';
                    color: #fff;
                }

                a>p {
                    width: 80%;
                    margin: 10px 0 30px;
                    font: 300 14px/1.6 'Roboto';
                    color: #727272;
                }

                &:nth-of-type(1) {
                    h2 {
                        width: 100%;
                        font: 400 24px/1 'Roboto';
                        color: #fff;
                    }

                    >a {
                        font: 300 14px/1 "Roboto";
                        color: #fff;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }

        .ftBttm {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            p {
                width: calc(100% / 2);
                font: 300 12px/1 'Roboto';
                color: #fff;
            }

            .ftUtil {
                width: calc(100% / 2);
                display: flex;

                li {
                    width: calc(100% / 4);

                    a {
                        font: 300 14px/1 'Roboto';
                        color: #fff;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}



// tablet ver
@media screen and (max-width: 1200px) {
    // header ---------------------------------------------------------------------------
    #header {
        .inner {
            width: 100%;
            padding: 35px;

            .logo {
                left: 35px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 12;
                opacity: 1;
            }

            .menuWeb {
                display: none;
            }

            .menuMb {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 11;
                background-color: #171717;
                justify-content: space-between;

                #gnb {
                    width: calc(100% / 2);
                    display: block;
                    height: auto;
                    margin-left: 35px;
                    margin-top: 25vh;

                    li {
                        display: block;

                        a {
                            display: block;
                            font: 300 50px/1 "Saira Semi Condensed";
                            color: #fff;
                            margin-bottom: 30px;
                            letter-spacing: 1px;
                        }
                    }
                }

                #util {
                    width: calc(100% / 2);
                    display: block;
                    height: auto;
                    margin-top: 50vh;
                    margin-right: 35px;
                    text-align: right;

                    li {
                        margin-bottom: 3px;

                        a {
                            font: 300 14px/1 'Roboto';
                            color: #fff;
                            letter-spacing: 1px;
                        }
                    }
                }
            }

            .btnCall {
                display: block;
                width: 40px;
                height: 21px;
                position: absolute;
                right: 35px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 12;
                
                &::before {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%,-40%);
                    content: '';
                    display: block;
                    width: 40px;
                    height: 1px;
                    background-color: #fff;
                }

                &::after {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    content: '';
                    display: block;
                    width: 40px;
                    height: 1px;
                    background-color: #fff;
                }

                span {
                    display: inline-block;
                    font-size: 10px;
                    text-indent: -99999px;
                }
            }
        }
    }


    // visual ---------------------------------------------------------------------------
    #visual {
        .slide {
            .inner {
                width: calc(100% - 70px);

                .txtBox {
                    h1 {
                        font: 400 16px/1 'Roboto';
                        color: #fff;
                        opacity: 0.9;
                    }
    
                    h2 {
                        font: 500 15vw/1.1 'Roboto';
                        color: #fff;
                        margin-left: -7px;
                    }
                }

                .txtSub {
                    width: 70%;

                    li {
                        width: calc(100% / 3);
                    }
                }

                .pagination {
                    width: 30%;

                    .progress {
                        width: 80%;
                    }
                }
            }
        }
    }


    // About ---------------------------------------------------------------------------
    #about {
        padding: 150px 0 150px;

        .inner {
            width: calc(100% - 70px);

            h1 {
                width: 20%;
                font: 400 24px/1 "Saira Semi Condensed";
            }

            .contents {
                width: 80%;

                h2 {
                    font: 500 3.5vw/1.1 "Roboto";
                }

                >p {
                    width: 90%;
                    margin: 40px 0;
                }
            }
        }
    }


    // PROJECTS ---------------------------------------------------------------------------
    #projects {
        padding: 0px 0 200px;
        .inner {
            width: calc(100% - 70px);
        }
    }


    // banner ---------------------------------------------------------------------------
    #banner {
        .inner {
            width: calc(100% - 70px);
        }
    }


    // events ---------------------------------------------------------------------------
    #events {
        padding: 150px 0 150px;
        
        .inner {
            width: calc(100% - 70px);

            .slide {
                article {
                    width: calc(100% / 4);

                    &.on a .pic {
                        width: 180%;
                        height: calc(150px * 1.8);
                    }
                }
            }
        }

        
    }


    // news ---------------------------------------------------------------------------
    #news {
        padding: 50px 0 150px;

        .inner {
            width: calc(100% - 70px);
        }
    }


    // footer ---------------------------------------------------------------------------
    #footer {
        .inner {
            width: calc(100% - 70px);

            .ftBttm {

                p {
                    width: 100%;
                    margin-top: 6px;
                }

                .ftUtil {
                    display: none;
                }
            }
        }
    }
}



// Mobile ver
@media screen and (max-width: 768px) {
    // header ---------------------------------------------------------------------------
    #header {
        .inner {
            .menuMb {
                #util {
                    margin-top: 100px;
                    margin-right: 0;
                    margin-left: 35px;
                    text-align: left;
                }
            }
        }
    }


    // visual ---------------------------------------------------------------------------
    #visual {
        .slide {
            .inner {
                .txtBox {
                    bottom: 250px;
                }
                .txtSub {
                    width: 100%;
                    bottom: 150px;

                    li {
                        width: calc(100% / 3);
                    }
                }

                .pagination {
                    width: 100%;
                    bottom: 50px;
                    right: auto;
                    left: 0;

                    .progress {
                        width: 80%;
                    }
                }
            }
        }
    }


    // About ---------------------------------------------------------------------------
    #about {
        padding: 150px 0 150px;

        .inner {
            display: block;
            width: calc(100% - 70px);

            h1 {
                width: 100%;
                margin-bottom: 30px;
            }

            .contents {
                width: 100%;

                h2 {
                    font: 500 24px/1.1 "Roboto";

                    br {
                        display: none;
                    }
                }

                >p {
                    width: 100%;
                    font: 400 14px/1.6 "Roboto";
                    margin: 30px 0;
                }
            }
        }
    }


    // PROJECTS ---------------------------------------------------------------------------
    #projects {
        padding: 0px 0 150px;

        .inner {
            display: block;
            width: calc(100% - 70px);

            div {
                display: block;
                width: 100%;

                article {
                    margin-top: 30px;
                }

                &.right {
                    margin-top: 30px;
                }
            }

            .moreBtn {
                width: 100%;
                margin-top: 30px;
                position: unset;

                .progress {
                    width: 100%;
                }
            }
        }
    }


    // banner ---------------------------------------------------------------------------
    #banner {
        padding: 80px 0;
        .inner {
            width: calc(100% - 70px);

            h1 {
                font: 500 26px/1 "Roboto";
            }

            p {
                font: 300 14px/1.3 "Roboto";
            }
        }
    }


    // events ---------------------------------------------------------------------------
    #events {
        .inner {
            .slide {
                article {
                    width: calc(100% / 3);

                    &:last-child {
                        display: none;
                    }

                    a {
                        .pic {
                            width: 100%;
                            height: 120px;
                        }

                        h2 {
                            font: 600 30px/1 "Roboto";
    
                            span {
                                font: 400 20px/1 "Roboto";
                            }
                        }

                        >p {
                            display: none;
                        }

                        .loca {
                            margin: 30px 0;
                        }
                    }

                    &.on a .pic {
                        width: 180%;
                        height: calc(120px * 1.8);
                    }
                }
            }
        }

        
    }


    // news ---------------------------------------------------------------------------
    #news {
        padding: 0px 0 150px;

        .inner {
            width: calc(100% - 70px);

            ul li {
                padding: 20px 0;

                a {
                    font: 400 16px/1 "Roboto";
                }

                .subNews {
                    display: block;

                    .pic {
                        width: 100%;
                        height: 150px;
                    }

                    .subTxt {
                        margin-top: 30px;
                        padding-bottom: 40px;
                        width: 100%;
                    }

                    .moreBtn {
                        left: 0;
                    }
                }


            }
        }
    }


    // footer ---------------------------------------------------------------------------
    #footer {
        padding: 60px 0 0px;

        .inner {
            width: calc(100% - 70px);

            .ftTop {
                display: block;
                margin-bottom: 60px;

                h1 {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .signUp {
                    width: 100%;
                }
            }

            .ftMid {
                margin-bottom: 30px;
                article {
                    width: calc(100% /3);

                    &:first-child {
                        display: none;
                    }
                }
            }

            .ftBttm {

                p {
                    width: 100%;
                }
            }
        }
    }
}



// Mobile 2 ver
@media screen and (max-width: 510px) {
    // header ---------------------------------------------------------------------------
    #header {
        .inner {
            .menuMb {
                display: none;

                #gnb li a {
                    font: 300 35px/1 "Saira Semi Condensed";
                }
            }
        }
    }


    // visual ---------------------------------------------------------------------------
    #visual {
        .slide {
            .inner {
                .txtBox {
                    bottom: 250px;
                }
                .txtSub {
                    width: 100%;
                    bottom: 150px;

                    li {
                        width: calc(100% / 3);

                        h3 {
                            font: 400 14px/1 'Roboto';
                        }

                        span {
                            font: 400 14px/1 'Roboto';
                        }
                    }
                }
            }
        }
    }


    // About ---------------------------------------------------------------------------
    #about {
        .inner {
            .contents {
                width: 100%;

                >p {
                    margin: 30px 0 50px;
                }
            }
        }
    }

    // banner ---------------------------------------------------------------------------
    #banner {
        padding: 60px 0;
        .inner {

            h1 {
                font: 500 24px/1 "Roboto";
            }

            p {
                font: 300 12px/1.3 "Roboto";
            }
        }
    }


    // events ---------------------------------------------------------------------------
    #events {
        .inner {
            .slide {
                article {
                    margin: 0;
                    width: 100%;

                    &:last-child {
                        display: none;
                    }

                    &:nth-of-type(2) {
                        display: none;
                    }

                    a > p {
                        display: block;
                    }

                    &.on a .pic {
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }

        
    }


    // news ---------------------------------------------------------------------------
    #news {
        .inner {
            ul li {
                >a {
                    font: 400 14px/1 "Roboto";
                    padding-left: 20px;
                }

                .subNews {
                    display: block;

                    .pic {
                        width: 100%;
                        height: 150px;
                    }

                    .subTxt {
                        margin-top: 30px;
                        padding-bottom: 40px;
                        width: 100%;
                    }

                    .moreBtn {
                        left: 0;
                    }
                }
            }
        }
    }


    // footer ---------------------------------------------------------------------------
    #footer {
        padding: 60px 0 0px;

        .inner {
            width: calc(100% - 70px);

            .ftTop {
                display: block;
                margin-bottom: 60px;

                h1 {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .signUp {
                    width: 100%;
                }
            }

            .ftMid {
                margin-bottom: 30px;
                article {
                    display: block;
                    width: calc(100% /3);

                    a {
                        display: block;
                        margin-bottom: 20px;

                        p {
                            display: none;
                        }
                    }

                    >p {
                        font: 300 12px/1 "Roboto";
                        color: #727272;
                    }

                    &:first-child {
                        display: none;
                    }
                }
            }

            .ftBttm {
                p {
                    width: 100%;
                }
            }
        }
    }
}